body {
  margin: 0;
}

button {
  padding: 0;
  color: #000000;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

svg {
  display: inline-block;
  vertical-align: baseline;
}

* {
  box-sizing: border-box;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}