@use "../abstracts" as *;

.news-article {
  &__card {
    width: 100%;
  }

  &__image {
    width: 100%;
    margin-bottom: 1rem;
  }

  &__title {
    margin-bottom: 0.5rem;
    line-height: 1.2;
    color: $theme-purple;

    @media (max-width: $mobile-small) {
      font-size: 1rem;
    }
  }

  &__description {
    margin-bottom: 0.5rem;
    line-height: 1.2;
    color: $theme-black;

    @media (max-width: $mobile-small) {
      font-size: 0.875rem;
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 0.25rem;
    font-size: 0.875rem;
    color: $light-gray-200;

    @media (max-width: $mobile-small) {
      font-size: 0.875rem;
    }
  }
}