@use "../abstracts" as *;

.footer {
  padding: 2rem 0;
  box-shadow: 0 -4px 10px 0 #00000012;

  @media (max-width: $mobile) {
    padding: 1.5rem 0;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.875rem;

    @media (max-width: $mobile) {
      flex-direction: column;
      gap: 1rem;
    }
  }

  &__contacts {
    &-list {
      display: flex;
      align-items: center;
      gap: 1.5rem;
    }

    &-link {
      display: flex;
      align-items: center;
      gap: .5rem;
      color: $theme-purple;
    }
  }


}