@use "../abstracts" as *;

.header {
  box-shadow: 0 4px 10px 0 #00000012;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 4.75rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .header-logo {
    display: flex;

    &__img {
      width: 7.5rem;
      height: auto;
    }
  }

  &__profile {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    color: $theme-black;
    text-decoration: none;


    &-name {
      @media (max-width: $mobile-small) {
        display: none;
      }
    }

    &-img {
      width: 2.75rem;
      height: 2.75rem;
      border-radius: 50%;
    }
  }
}