@use "./functions" as *;

$theme-purple: #7600A8;
$theme-black: #232323;
$theme-white: #ffffff;
$light-gray-100: #D6D6D6;
$light-gray-200: #9C9C9C;
$max-width-container: 1170;
$container-padding: 16;
$container-width: rem($max-width-container + $container-padding * 2);
$bg-color: $theme-white;
$text-color: $theme-black;
$base-font-size: 1rem;
$h1-font-size: 1.75rem;
$h2-font-size: 1.375rem;
$radius-sm: .5rem;
$radius-md: 0.75rem;
$tablet: 992px;
$mobile: 768px;
$mobile-small: 480px;